.container
  .jumbotron
    %h1 Catálago Filmes
    %p
      Catálago Filmes é um sistema para catalogar seus filmes favoritos,
      no qual você poderá consultar todas as informações dos filmes cadastrados
      na base de dados do sistema.
